.rotate{
    margin: 0 auto;
    padding-top: 50px;
    height: 800px;
    background:skyblue;
    box-sizing: border-box;
}
.rotate__content{
    margin: auto;
    width: 250px;
    perspective: 1000px;
    position: relative;
    padding-top: 80px;
    //background-color: blue;
}
.rotate__content-imgs{
    width: 100%;
   // height: 100%;
    position: absolute;
    float: right;
    animation: rotate 20s infinite linear;
    transform-style: preserve-3d;
}
.rotate__content-imgs:hover{
    animation-play-state: paused;
    cursor: pointer;
}



.rotate__content-imgs figure{
    border: 3px solid white;
    position: absolute;
}
.rotate__content-imgs figure:nth-child(1){
    transform: rotateY(0deg) translateZ(300px);
}
.rotate__content-imgs figure:nth-child(2){
    transform: rotateY(60deg) translateZ(300px);
}
.rotate__content-imgs figure:nth-child(3){
    transform: rotateY(120deg) translateZ(300px);
}
.rotate__content-imgs figure:nth-child(4){
    transform: rotateY(180deg) translateZ(300px);
}
.rotate__content-imgs figure:nth-child(5){
    transform: rotateY(240deg) translateZ(300px);
}
.rotate__content-imgs figure:nth-child(6){
    transform: rotateY(300deg) translateZ(300px);
}

.rotate__content-imgs img:hover{
    transform: scale(1.5);
}

.rotate__image{
    height: 200px;
    width: 250px;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 3px;
}
.rotate__images{
    height: 100%;
    width: 100%;
    image-rendering: auto;
    transition: all .5s;
}

.rotate__image:hover{
    transform: scale(1.5);
}

@keyframes rotate{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

